@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  box-sizing: border-box;
}
 
#main {
  background-color: #eaeae1;
  margin: 30px 5px;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

#title, #img-div p{
 padding: 5px;
 text-align: center;
}

#img-caption {
  font-family: sans-serif, 'Source Sans Pro';
}
#img-div img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 10px 20px;
}

#tribute-info {
  text-align: center;
  margin: 1.5em 6em;
}

#footer {
  text-align: center;
  font-weight: bolder;
  padding: 20px 0;
}
